@charset "utf-8";
html {
  height: 100%; }

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 12px;
  color: #646464;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #646464; }
  body a {
    color: #8fc320; }
    body a:hover {
      color: #eb6fa5; }
  body #wrapper {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    width: 980px; }
    body #wrapper #header {
      -moz-border-radius: 8px;
      -khtml-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-color: #fffffb;
      height: 100px;
      margin: 0 0 10px; }
      body #wrapper #header h1 {
        margin: 10px 0;
        padding: 0 0 0 15px; }
        body #wrapper #header h1 a {
          line-height: 100px;
          text-decoration: none; }
          body #wrapper #header h1 a:hover {
            text-decoration: underline; }
    body #wrapper #container {
      background-color: #fffffb;
      margin: 0 0 10px;
      height: 300px; }
    body #wrapper #footer {
      -moz-border-radius: 8px;
      -khtml-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-color: #fffffb;
      height: 100px;
      line-height: 100px; }
      body #wrapper #footer ul {
        margin: 0;
        padding: 0; }
        body #wrapper #footer ul li {
          margin: 0;
          padding: 0;
          float: left;
          list-style: none; }
          body #wrapper #footer ul li a {
            text-align: center;
            display: block;
            width: 196px;
            line-height: 100px;
            text-decoration: none;
            color: #00baee; }
            body #wrapper #footer ul li a:hover {
              text-decoration: underline;
              color: #eb6fa5; }
